<div class="spa-container">
  <aside>
    <ul>
      <li>
        <%= link_to "All Lists", todo_lists_path, data: { turbo_frame: "main_content" } %>
      </li>
      <%# <li>
        <%= #link_to "My Profile", "#", data: { turbo_frame: "main_content", action: "click->spaloadProfile" } %>
      <%# </li>  %>
    </ul>
  </aside>
</div>
<div data-controller="spa-navigation">
  <turbo-frame 
    id="main_content"
    src="<%= todo_lists_path %>"
    refresh="morph"
    data-spa-navigation-target="mainContentFrame">
    <p>Select an option from the sidebar.</p>
  </turbo-frame>
</div>
</div>